.container {
	max-width: calc(1920 / 1920 * 100vw);
	max-height: 100%;
	padding-left: calc(100 / 1920 * 100vw);
	padding-right: calc(100 / 1920 * 100vw);
	margin-top: calc(130 / 1920 * 100vw);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	font-weight: 700;
	font-size: calc(120 / 1920 * 100vw);
	margin-bottom: calc(40 / 1920 * 100vw);
	text-align: center;
}

.description {
	font-weight: 500;
	font-size: calc(30 / 1920 * 100vw);
	color: #636363;
	text-align: center;
}

@media (max-width: 1000px) {
	.container {
		margin-top: calc(70 / 1200 * 100vw);
	}
	.title {
		font-size: calc(90 / 1200 * 100vw);
		width: 100vw;
		margin-bottom: calc(30 / 1200 * 100vw);
	}

	.description {
		font-size: calc(30 / 1200 * 100vw);
	}
}
