.container {
	width: calc(1920 / 1920 * 100vw);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	gap: calc(100 / 1920 * 100vw);
	margin-top: calc(120 / 1920 * 100vw);
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.mainInfo {
	font-size: calc(94 / 1920 * 100vw);
	font-weight: 700;
	margin-bottom: calc(20 / 1920 * 100vw);
}

.description {
	font-weight: 400;
	font-size: calc(17 / 1920 * 100vw);
	color: #636363;
}

hr {
	margin-top: calc(35 / 1920 * 100vw);
	margin-bottom: calc(110 / 1920 * 100vw);
	border: none;
	max-width: calc(1920 / 1920 * 100vw);
	border-top: calc(1 / 1920 * 100vw) solid #202020;
}

@media (max-width: 1000px) {
	.container {
		width: calc(1200 / 1200 * 100vw);
		gap: calc(150 / 1200 * 100vw);
		margin-top: calc(120 / 1200 * 100vw);
	}

	.block {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.mainInfo {
		font-size: calc(150 / 1200 * 100vw);
		margin-bottom: calc(20 / 1200 * 100vw);
	}

	.description {
		font-size: calc(27 / 1200 * 100vw);
	}

	hr {
		margin-top: calc(35 / 1200 * 100vw);
		margin-bottom: calc(110 / 1200 * 100vw);
		max-width: calc(1920 / 1200 * 100vw);
		border: calc(1 / 1200 * 100vw) solid #202020;
	}
}
