.body {
	height: 100%;
	margin-top: calc(10 / 1920 * 100vw);
	display: flex;
	justify-content: center;
	align-items: center;
}

.h2 {
	font-size: calc(40 / 1920 * 100vw);
	text-align: center;
	margin-bottom: calc(30 / 1920 * 100vw);
}

.divForm {
	background-color: white;
	width: calc(850 / 1920 * 100vw);
	height: 100%;
	padding: calc(25 / 1920 * 100vw);
	margin-left: calc(20 / 1920 * 100vw);
	border-radius: calc(25 / 1920 * 100vw);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btnAdd {
	background-color: #2f80ed;
	color: white;
	margin-top: calc(20 / 1920 * 100vw);
	font-weight: 600;
	width: calc(300 / 1920 * 100vw);
	height: calc(50 / 1920 * 100vw);
	font-size: calc(25 / 1920 * 100vw);
	border: calc(2 / 1920 * 100vw) solid #2f80ed;
	border-radius: calc(15 / 1920 * 100vw);
	margin-left: calc(90 / 1920 * 100vw);
	margin-bottom: calc(15 / 1920 * 100vw);
}

.btnAdd:hover {
	background: rgba(0, 0, 0, 0);
	color: #42aaff;
	box-shadow: inset 0 0 0 calc(3 / 1920 * 100vw) #42aaff;
	cursor: pointer;
}

.btnBack {
	background-color: #f34848;
	color: white;
	font-weight: 600;
	font-size: calc(25 / 1920 * 100vw);
	border: calc(2 / 1920 * 100vw) solid #f34848;
	border-radius: calc(15 / 1920 * 100vw);
	padding-left: calc(40 / 1920 * 100vw);
	padding-right: calc(40 / 1920 * 100vw);
	padding-top: calc(10 / 1920 * 100vw);
	padding-bottom: calc(10 / 1920 * 100vw);
	display: flex;
	width: calc(80 / 1920 * 100vw);
	margin-left: calc(160 / 1920 * 100vw);
}

.btnBack:hover {
	background: rgba(0, 0, 0, 0);
	color: #f34848;
	box-shadow: inset 0 0 0 calc(3 / 1920 * 100vw) #f34848;
	cursor: pointer;
}

.input {
	background-color: transparent;
	border: calc(2 / 1920 * 100vw) solid #2f80ed;
	margin-bottom: calc(20 / 1920 * 100vw);
	width: calc(300 / 1920 * 100vw);
	height: calc(50 / 1920 * 100vw);
	font-size: calc(25 / 1920 * 100vw);
	padding-left: calc(10 / 1920 * 100vw);
	border-radius: calc(15 / 1920 * 100vw);
	margin-left: calc(90 / 1920 * 100vw);
}

.Desc {
	background-color: transparent;
	border: calc(2 / 1920 * 100vw) solid #2f80ed;
	margin-bottom: calc(20 / 1920 * 100vw);
	width: calc(800 / 1920 * 100vw);
	height: calc(500 / 1920 * 100vw);
	font-size: calc(25 / 1920 * 100vw);
	padding-left: calc(10 / 1920 * 100vw);
	border-radius: calc(15 / 1920 * 100vw);
}

.inputFile {
	font-size: calc(25 / 1920 * 100vw);
	margin-left: calc(90 / 1920 * 100vw);
}

@media (max-width: 1000px) {
	.body {
		margin-top: calc(10 / 1920 * 100vw);
	}

	.h2 {
		font-size: calc(40 / 1920 * 100vw);
		margin-bottom: calc(30 / 1920 * 100vw);
	}

	.divForm {
		width: calc(850 / 1920 * 100vw);
		padding: calc(25 / 1920 * 100vw);
		margin-left: calc(20 / 1920 * 100vw);
		border-radius: calc(25 / 1920 * 100vw);
	}

	.btnAdd {
		margin-top: calc(20 / 1920 * 100vw);
		width: calc(300 / 1920 * 100vw);
		height: calc(50 / 1920 * 100vw);
		font-size: calc(25 / 1920 * 100vw);
		border: calc(2 / 1920 * 100vw) solid #2f80ed;
		border-radius: calc(15 / 1920 * 100vw);
		margin-left: calc(90 / 1920 * 100vw);
		margin-bottom: calc(15 / 1920 * 100vw);
	}

	.btnAdd:hover {
		box-shadow: inset 0 0 0 calc(3 / 1920 * 100vw) #42aaff;
	}

	.btnBack {
		font-size: calc(25 / 1920 * 100vw);
		border: calc(2 / 1920 * 100vw) solid #f34848;
		border-radius: calc(15 / 1920 * 100vw);
		padding-left: calc(40 / 1920 * 100vw);
		padding-right: calc(40 / 1920 * 100vw);
		padding-top: calc(10 / 1920 * 100vw);
		padding-bottom: calc(10 / 1920 * 100vw);
		width: calc(80 / 1920 * 100vw);
		margin-left: calc(160 / 1920 * 100vw);
	}

	.btnBack:hover {
		box-shadow: inset 0 0 0 calc(3 / 1920 * 100vw) #f34848;
	}

	.input {
		border: calc(2 / 1920 * 100vw) solid #2f80ed;
		margin-bottom: calc(20 / 1920 * 100vw);
		width: calc(300 / 1920 * 100vw);
		height: calc(50 / 1920 * 100vw);
		font-size: calc(25 / 1920 * 100vw);
		padding-left: calc(10 / 1920 * 100vw);
		border-radius: calc(15 / 1920 * 100vw);
		margin-left: calc(90 / 1920 * 100vw);
	}

	.Desc {
		border: calc(2 / 1920 * 100vw) solid #2f80ed;
		margin-bottom: calc(20 / 1920 * 100vw);
		width: calc(800 / 1920 * 100vw);
		height: calc(500 / 1920 * 100vw);
		font-size: calc(25 / 1920 * 100vw);
		padding-left: calc(10 / 1920 * 100vw);
		border-radius: calc(15 / 1920 * 100vw);
	}

	.inputFile {
		font-size: calc(25 / 1920 * 100vw);
		margin-left: calc(90 / 1920 * 100vw);
	}
}
